@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, body, header, h1, span, div {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.st-emotion-cache-1dp5vir {
    visibility: hidden;
  }
footer {
    visibility: hidden;
}

/* Aturan untuk konten utama */
.stApp {
    margin: auto;
    overflow: auto;
    background-color: rgb(239, 247, 249);
    background-size: 400% 400%;
    background-attachment: fixed;
    color: #333; /* Warna Teks Hitam */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.stApp > header {
    background-color: transparent;
}

section:first-child {
    background-color: rgb(40, 101, 117);
    color: white;
}

/* Aturan untuk konten utama */
.stApp .main-content {
    margin-left: 20%; /* Menggeser konten utama ke kanan */
    padding: 20px; /* Padding untuk ruang khusus konten */
}

/* Aturan untuk tombol */
.stApp button {
    background-color: rgb(40, 101, 117); /* Warna latar belakang tombol */
    color: #ffffff; /* Warna teks tombol diubah menjadi hitam */
    border: none; /* Tanpa border */
    padding: 8px 18px; /* Padding */
    cursor: pointer; /* Kursor menunjukkan tindakan dapat dilakukan */
    border-radius: 7px; /* Sudut border-radius */
    font-size: 14px; /* Ukuran font */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.stApp button:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Warna latar belakang tombol saat hover */
    color: #fff;
}

/* Aturan untuk kotak pilihan */
.stApp select {
    background-color: #fff; /* Warna latar belakang kotak pilihan */
    color: #000; /* Warna teks kotak pilihan diubah menjadi hitam */
    border: 1px solid #ced4da; /* Border */
    padding: 8px 12px; /* Padding */
    font-size: 16px; /* Ukuran font */
    border-radius: 4px; /* Sudut border-radius */
}

/* Aturan untuk kotak pilihan yang telah dipilih */
.stApp select option:checked {
    background-color: #41eeac; /* Warna latar belakang kotak pilihan yang dipilih */
    color: #fff; /* Warna teks kotak pilihan yang dipilih */
}

.stToolbar{
    visibility: None;
}


/* Efek hover untuk kotak pilihan */
.stApp select:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bayangan saat hover */
}

/* Efek hover untuk sidebar item */
.stApp .sidebar-item:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Warna latar belakang saat hover */
}

.stHeadingContainer > .stMarkdown > div > div > h1 :first-child{
    color: #333;
}

.stMarkdown > div > div > h1 {
    color: rgb(239, 247, 249);
}

section > div > div > div > div > div > div > div > div > label > div > p {
    color: rgb(239, 247, 249);
    font-size: 12px;
}

label > div > p {
    color: #333;
    font-size: 12px;
}

header > div > div {
    visibility: hidden;
}

.styles_terminalButton__JBj5T {
    visibility: hidden;
}
